{# index.twig #}
{% extends "layoutMain.twig" %}
{% block title %} Главная {% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block actMain %}active{% endblock %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Главная</h1>
        </div>
        <h5>Сведения о разработчике и репозиторий проекта</h5>
        <p>Разработчик: Нецветаев Антон Александрович ЭВМБ-18-1</p>
        <p>Репозиторий: <a href="https://github.com/Xar0n/db_coursework" target="_blank">https://github.com/Xar0n/db_coursework</a></p>
        <h5>Задание</h5>
        <p>
            Необходимо хранить информацию об авиакомпаниях (шифр, название, адрес), кассах (номер, адрес), кассирах
            (табельный номер, ФИО). Клиенты (номер и серия паспорта, ФИО) приобретают билеты (номер, тип, дата продажи,
            касса, кассир, авиакомпания). Билет содержит не более четырех купонов (номер, направление полета, тариф, клиент).
        </p>
        <p>Выходные документы:</p>
        <ul>
            <li>Билеты, проданные за указанный месяц указанной авиакомпании.</li>
            <li>Общая сумма от продаж билетов каждой авиакомпании.</li>
            <li>Список клиентов авиакомпаний на заданную дату.</li>
        </ul>
    </main>
{% endblock %}