{# add.twig #}
{% extends "layoutMain.twig" %}
{% block title %} Добавление {% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block actKlient %}active{% endblock %}
{% block content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Добавить клиента</h1>
        </div>
        <form method="post">
            <div class="mb-3 col-lg-4">
                <label for="exampleFormControlInput1" class="form-label">Серия и номер паспорта</label>
                <input type="number" name="nomer_i_seriya_pasporta" class="form-control" id="exampleFormControlInput1" required min="0">
            </div>
            <div class="mb-3 col-lg-4">
                <label for="exampleFormControlInput1" class="form-label">Фамилия</label>
                <input type="text" name="familiya" class="form-control" id="exampleFormControlInput1" required min="1" max="255">
            </div>
            <div class="mb-3 col-lg-4">
                <label for="exampleFormControlInput1" class="form-label">Имя</label>
                <input type="text" name="imya" class="form-control" id="exampleFormControlInput1" required min="1" max="255">
            </div>
            <div class="mb-3 col-lg-4">
                <label for="exampleFormControlInput1" class="form-label">Отчество</label>
                <input type="text" name="otchestvo" class="form-control" id="exampleFormControlInput1" required min="1" max="255">
            </div>
            <button type="input" name="save" class="btn btn-primary">Добавить</button>
        </form>
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
    </main>
{% endblock %}